/* MTM1544 Week 1: your stylesheet.
   This file is already linked from index.html. Write your rules below.
   Start by changing the body background colour and saving, to confirm the link works. */
   /* Changes main heading colour to aqua */
* {
   box-sizing: border-box;
}

:root {
   --hsl-1: hsl(210, 60%, 25%); /* HSL syep 1 darkest */
   --hsl-2: hsl(210, 60%, 45%); /* HSL step 2: dark */
   --hsl-3: hsl(210, 60%, 65%); /* HSL step 3: light */
   --hsl-4: hsl(210, 60%, 85%); /* HSL step 4: lightest */

   --oklch-1: oklch(25%0.08 250); /* OKLCH step 1: darkest */
   --oklch-2: oklch(45% 0.08 250); /*OKLCH step 2 dark */
   --oklch-3: oklch(65% 0.08 250); /* OKLCH step 3: light */
   --oklch-4:oklch(85% 0.08 250); /* OKLCH step 4: lightest */
}
/* HSL syeps appear more evenly spaced visaully than the OKLCH steps but not by much */

/* Styles the main heading with a distinct size and balanced wrapping */
h1{
   color:aqua;
   font-size: 2.5rem;
   line-height: 1.2;
   text-wrap: balance;
}
/* Sets the page background and based typography */
body {
   background-color: lightblue;
   font-family: "Inter", Arial, Helvetica, sans-serif;
   font-size: 1rem;
   line-height: 1.6;
}
/* Sets the earlier paragraph colour */
p {
   color: brown;
}
/* Makes all h2 headings dark green*/
h2 {
   color: darkgreen;
   font-size: 1.75rem;
   line-height: 1.3;
   text-wrap: balance;
}

/* Gives h1 and h2 the google font with fallback fonts */
h1, h2 {
   font-family: "Inter", Arial, Helvetica, sans-serif;
   font-weight: 700;
}

/* Makes the intro paragraph green and bold */
.intro {
   color: green;
   font-weight: bold;
}
/* Makes the summit heading orange */
#summit {
   color: orange;
}
/* Overrides the earlier paragraph colour with dark blue */
p {
   color: darkblue;
}

.card {
   background-color: white;
   border: 2px solid green;
   padding: 20px;
   border-radius: 10px;
   margin-bottom: 30px;
   width: 600px;
   margin-left: auto;
   margin-right: auto;
}

.margin-one {
   margin-bottom: 40px;
}

.margin-two {
   margin-top: 20px;
}

.media-placeholder {
   width: 100%;
   aspect-ratio: 16/9;
   background-color: lightgray;
}