/* MTM1544 Week 1: your stylesheet.
   This file is already linked from index.html. Write your rules below.
   Start by changing the body background colour and saving, to confirm the link works. */
   /* Changes main heading colour to aqua */
* {
   box-sizing: border-box;
}



h1{
   color:aqua;
}
/*Changes backgground colour*/
body {
   background-color: lightblue;
}
/* Makes all paragraphs brown and increases line spacing */
p {
   color: brown;
   line-height: 1.6;
}
/* Makes all h2 headings dark green*/
h2 {
   color: darkgreen;
}
/*Gives h1 and h2 headings the same font */
h1,h2 {
   font-family: Arial, sans-serif;
}
/* Makes the intro paragraph green and bold */
.intro {
   color: green;
   font-weight: bold;
}
/* Makes the summit heading orange */
#summit {
   color: orange;
}
/* Overrides the earlier paragraph colour with dark blue */
p {
   color: darkblue;
}

.card {
   background-color: white;
   border: 2px solid green;
   padding: 20px;
   border-radius: 10px;
   margin-bottom: 30px;
   width: 600px;
   margin-left: auto;
   margin-right: auto;
}

.margin-one {
   margin-bottom: 40px;
}

.margin-two {
   margin-bottom: 20px;
}